<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="./style.css">
  <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/hack-font@3/build/web/hack.css">
  <title>#GCU Live!</title>
</head>
<body>
  <div id="app">

    <header>
      <div id="gculive">
        <p class="title">#GCU Live!</p>
      </div>
      <div id="links">
        <p class="title">Links of the day</p>
      </div>
    </header>

    <main>
      <div id="irclog">
        <ul>
          <li v-for="entry in entries">
            <span v-if="entry.last" id="last"></span>
            <span class="irctime">[{{ entry.time }}]</span> {{ entry.action ? '*' : '&lt;' }}<strong>{{ entry.nickname }}</strong>{{ entry.action ? '' : '&gt' }} <span v-html="decoLine(entry)"></span>
          </li>
        </ul>
      </div>
      <div id="lotd">
        <ul>
          <li v-for="entry in entries" v-if="entry.url">
            <a :href="entry.url" target="_blank" v-on:mouseover="showImg(entry.url)" v-on:mouseleave="hideImg">{{ truncLink(entry.url) }}</a> #{{ entry.nickname }}
            <span v-for="tag in getTags(entry)"> #{{ tag }}</span>
          </li>
        </ul>
      </div>
    </main>

    <div id="imgpopup" v-bind:style="{ visibility: imgPopupVisible ? 'visible' : 'hidden' }">
      <img :src="imgSrcPopup">
    </div>

    <footer>
      <a href="https://gitlab.com/gcu-squad/gcu-live">code</a> by pinpin and <a href="https://chat.openai.com/chat">ChatGPT</a> | #gcu@libera.chat |
      <select v-model="selectHist" @change="goToPage">
        <option v-for="option in history" :value="option.logfile">{{ option.date }}</option>
      </select>
    </footer>

  </div> <!-- app -->

        <svg style="width: 5vh; height: 5vh; top: 2vh; left: 2vh; position: fixed;" viewBox="-1 -1 2 2" xmlns="http://www.w3.org/2000/svg">
        <g transform="rotate(0)">
          <path d="M -1,-1 V 1 h 0 A 2,2 0 0 1 1,-1 V -1 Z" fill="040604"></path>
        </g>
      </svg>
      <svg style="width: 5vh; height: 5vh; top: 2vh; right: 2vh; position: fixed;" viewBox="-1 -1 2 2" xmlns="http://www.w3.org/2000/svg">
        <g transform="rotate(90)">
          <path d="M -1,-1 V 1 h 0 A 2,2 0 0 1 1,-1 V -1 Z" fill="040604"></path>
        </g>
      </svg>
      <svg style="width: 5vh; height: 5vh; bottom: 2vh; right: 2vh; position: fixed;" viewBox="-1 -1 2 2" xmlns="http://www.w3.org/2000/svg">
        <g transform="rotate(180)">
          <path d="M -1,-1 V 1 h 0 A 2,2 0 0 1 1,-1 V -1 Z" fill="040604"></path>
        </g>
      </svg>
      <svg style="width: 5vh; height: 5vh; bottom: 2vh; left: 2vh; position: fixed;" viewBox="-1 -1 2 2" xmlns="http://www.w3.org/2000/svg">
        <g transform="rotate(270)">
          <path d="M -1,-1 V 1 h 0 A 2,2 0 0 1 1,-1 V -1 Z" fill="040604"></path>
        </g>
      </svg>

      <svg style="width: 100vw; height: 2vh; top: 0; left: 0; position: fixed;" viewBox="0 0 1 1" xmlns="http://www.w3.org/2000/svg">
        <rect x="-50vw" y="-50vw" width="100vw" height="100vw" fill="040604">
      </svg>
      <svg style="width: 100vw; height: 2vh; bottom: 0; left: 0; position: fixed;" viewBox="0 0 1 1" xmlns="http://www.w3.org/2000/svg">
        <rect x="-50vw" y="-50vw" width="100vw" height="100vw" fill="040604">
      </svg>
      <svg style="width: 2vh; height: 100vh; top: 0; left: 0; position: fixed;" viewBox="0 0 1 1" xmlns="http://www.w3.org/2000/svg">
        <rect x="-50vw" y="-50vw" width="100vw" height="100vw" fill="040604">
      </svg>
      <svg style="width: 2vh; height: 100vh; top: 0; right: 0; position: fixed;" viewBox="0 0 1 1" xmlns="http://www.w3.org/2000/svg">
        <rect x="-50vw" y="-50vw" width="100vw" height="100vw" fill="040604">
      </svg>

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script> // <![CDATA[
    const app = new Vue({
      el: '#app',
      data: {
        entries: [],
        getarg: null,
        selectHist: 'now',
        logfile: 'gcu_irc_log',
        history: [],
        imgPopupVisible: false,
        imgSrcPopup: '',
        isNow: true,
        HTMLEsc: {
          '&': '&amp;',
          '<': '&lt;',
          '>': '&gt;',
          '"': '&quot;',
          "'": '&#x27;'
        }
      },
      methods: {
        async fetchData() {
          // are we reading an archive?
          const url = new URL(window.location.href);
          this.getarg = url.searchParams.get("arc");
          if (this.getarg == null || this.getarg == "now") {
            jsonFile = this.logfile + '.json';
            this.isNow = true;
          } else {
            jsonFile = 'history/' + this.logfile + '.' + this.getarg + '.json';
            this.selectHist = this.getarg;
            this.isNow = false;
          }

          // load IRC text from json
          await axios.get(jsonFile)
            .then(resp => this.entries = resp.data);

          this.$nextTick(() => {
            const last = document.getElementById("last");
            if (last != null && this.isNow) {
              last.scrollIntoView();
            }
          });

          // load list of available jsons
          await axios.get('history.lst')
            .then(resp => this.history = resp.data);
        },

        // cheap anti-injection
        escapeHTML(data) {
          for (const k in this.HTMLEsc) {
            const re = new RegExp(k, 'g');
            data = data.replaceAll(re, this.HTMLEsc[k]);
          };
          return data;
        },

        miniMd(data) {
          var mds = {
              '`': 'code',
              '_': 'em',
              '\\\*': 'strong',
          };
          for (const k in mds) {
            const rx = '(^|\\\s)' + k + '([^' + k + ']+)' + k + '(\\\s|$)';
            const re = new RegExp(rx, 'g');
            data = data.replace(re, '$1<' + mds[k] + '>' + '$2' + '</' + mds[k] + '>$3');
          }
          return data;
        },

        decoLine(entry) {
          const formated = this.miniMd(this.escapeHTML(entry.phrase));
          if (!entry.url) {
            return formated;
          }
          const href = "<a href=\"" + entry.url + "\" target=\"_blank\">" + entry.url + "</a>";

          return formated.replace(entry.url, href);
        },

        goToPage() {
          const loc = window.location;
          loc.href = loc.origin + loc.pathname + '?arc=' + this.selectHist;
        },

        hideImg() {
          this.imgPopupVisible = false;
        },

        isImg(url) {
          if (url.match(/\.(jpe?g|gif|png|bmp)$/i))
            return true
          return false
        },

        showImg(url) {
          if (this.isImg(url)) {
            this.imgPopupVisible = true;
            this.imgSrcPopup = url;
          }
        },

        getTags(entry) {
          let tags = [];
          if (this.isImg(entry.url))
            tags.push("image");
          if (m = entry.phrase.match(/#([^#]+)#/)) {
            tags = tags.concat(m[1].split(/ ?, ?/));
          }
          return tags;
        },

        truncLink(url) {
          const maxlen = 30;
          const r = url.replace(/(https?:\/\/|www\.)/, '');
          if (r.length > maxlen) {
            return r.slice(0, maxlen) + "…"
          }
          return r
        }

      },

      beforeMount() {
        this.fetchData();
      },

      mounted() {
        setInterval(() => {
          this.fetchData();
        }, 60000);
      }
    });
  // ]]>
  </script>
  <style>
  #app {
    height: 100vh;

    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr;
  }

  header, main {
    display: grid;
    grid-template-columns: 1.9fr 1.1fr;
  }
  .title {
    font-weight: bold;
    font-size: 1.2em;
    padding-top: 10px;
    padding-left: 20px;
  }
  #irclog ul {
    padding-left: 20px;
  }
  #irclog ul li {
    list-style-type: none;
  }
  #lotd {
    overflow-x: hidden;
    overflow-y: scroll;
    height: 90vh;
  }
  #lotd ul {
    padding-left: 20px;
  }
  #lotd ul li{
    list-style-type: "$ ";
    list-style-position: inside;
  }
  #imgpopup {
    position: fixed;
    visibility: hidden;
    background-color: #333;
    bottom: 0;
    left: 0;
    width: 40%;
  }
  #imgpopup img {
    width: 100%;
    max-height: 100%;
    bottom: 0;
  }
  footer {
    color: white;
    align-items: center;
    font-size: 0.8em;
    padding: 5px;
  }
  footer select {
    background-color: #111;
    color: white;
    border: 2px solid #111;
  }
  </style>
</body>
</html>
