body {
  font-family: monospace, 'Hack';
  font-size: 12px;
  color: #80FF4080;
  padding: 0;
  margin: 2vh;

  /* effet de banding sur le fond */
  background: repeating-linear-gradient(
    #101200 0%
    , #121604 10%
    , #121604 11%
    , #121408 12%
    , #101200 25%
  );
  background-attachment: fixed;
  animation: banding 4s infinite linear;  
}

* {
  scrollbar-color: #FFFF000F #00FF0008;
  scrollbar-width: thin;
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-thumb {
  background-color: #FFFF000F;
  width: 6px;
}
::-webkit-scrollbar-track {
  background: #00FF0008;
}

#irclog {
  overflow-y: scroll;
  height: 90vh;
}


@keyframes banding {
  0% {
    background-position-y: 0px;
  }
  100% {
    background-position-y: 100vh;
  }
}

li, a, strong, .title {
  /* raster sur le texte (le texte doit etre transparent, necessaire pour les émojie)*/
  background: repeating-linear-gradient(#000000 0px, #FFFF00 1.5px, #000000 3px);
  -webkit-background-clip: text; /* necessite une couleur transparente. */
  
  /* pour voir un peu le bending au travers du text */
  opacity: 0.666;

  /* halo de lumière */
  filter: drop-shadow(0.5px 0px 1px #482) blur(0.4px);
}

strong, .title {
  color: #D0FFA080;
}

a {
  color: inherit;
  text-decoration-color: #40FFFF80;
}
 
#sign {
  display: flex;
  align-items: baseline;
  margin: 15px;
}

 /* blinking cursor */
#cursor {
  background: lime;
  line-height: 17px;
  margin-left: 3px;
  -webkit-animation: blink 0.8s infinite;
  width: 7px;
  height: 2px;
}

@-webkit-keyframes blink {
  0% {background: #222}
  50% {background: lime}
  100% {background: #222}
}
